<% include ../partials/header %>

<div class = "text-center">
    <h1 id = "registerColor">Sign up Here, Please</h1>
    <form action = "/register" method = "POST">
        <input type = "text" name = "username" placeholder = "username">
        <input type = "password" name = "password" placeholder = "password">
        <button>Sign Up</button>
    </form>
</div>

</body>
    <div class = "footer2">
        <p> Copyright © 2018 Dakota Shen. All rights reserved.</p>
    </div>
</html>